body, li, ul{
	margin: 0;
	padding: 0;
}

button{
	all: unset;
}

body{
  background: url('http://training.ksoftware.co.in/Images/all-bg.jpg');
}
.main{
  text-align: center;
  margin: 50px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.tweetForm{
	display: flex;
	flex-direction: column;
}
.tweetForm textarea{
	font-size: 1.5em;
}
.tweetForm button{
	font-size: 1.5em;
	width: 150px;
	margin-top: 20px;
	align-self: flex-end;
	background: #bbf6ff;
	border: 1px #bbf9ff;
	opacity: 0.6;
}
.tweetForm button:hover{
	opacity: 1;
}

.tweetList{
	list-style: none;
	display: flex;
	flex-direction: column-reverse;;
}
.tweetList>li{
   margin: 20px;
   padding: 3px 10px 5px 20px;
   color: #666;
   box-shadow: 14px 16px 40px -13px rgba(0,0,0,0.75);
   background: #FDFDFD
}
.tweetList>li:hover{
  color: #000;

}
.tweetText{
  font-size: 1.5em;
}
.date{
  font-size: 0.8em;
}
.commentsForm{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.commentsForm textarea{
	width: 70%;
	min-height: 80px;
	font-size: 1.2em;
	margin-right: 15px;
}
.commentsForm button{
	height: 40px;
	align-self: center;
	background: #eee;
	padding: 10px;
	font-size: 1.3em;
}
.commentsForm button:hover{
	background: #808080;
	color: white;
}
.commentsList{
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 60%;
	margin: 20px auto;
}
.commentsList li{
	background: #ECFFEB;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.author span{
	text-align: right;
}
.auth-box{
	display: flex;
	justify-content: center;
}
.login{
	display: flex;
}
.login input{
	font-size: 1.4em;
}
.login button{
	margin-left: 10px;
	background: #bbf6ff;
	padding: 15px;
	font-size: 1.2em;
}
